nav{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  font-size: 18px;
  height: 80px;
  background-color: paleturquoise;
  font-weight: 400;
}
.navbar-logo{
  font-size: 25px;
  width: 247px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-logo i{
  font-size: 30px;
}
.navbar-list button{
  display: none;
}
.navbar-list li{
  width: 140px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-list li:hover{
  color: white;
  background: skyblue;
  
}
.navbar-list li a{
  text-decoration: none;
  padding-top: .425rem;
  padding-bottom: .425rem;
  color: black;
}
.navbar-list li:hover a{
  color: white;
}
@media screen and (max-width: 1028px){
  nav{
    height: 50px;
  }
  navbar-list {
    height: 50px;
    min-width: 100px;
  }
  .navbar-list button{
    display: inline-block;
  }
  .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

  .dropbtn:hover{
  background-color: #2980B9;
}
  
  .dropdown {
  position: relative;
  display: inline-block;
}

  .dropdown-content {
  display: none;
  position: absolute;
  margin-top: 20px;
  top: 30px;
  right: 1px;
  background-color: #f1f1f18c;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

  .dropdown a:hover {background-color: #ddd;}
  .navbar-list:hover .dropdown-content{
    display: block;
    display: flex;
    flex-direction: column;
  }
}